@model AutosABC.Models.Solicitud

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de querer eliminar esta solicitud?</h3>
<div>
    <h4>Solicitud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroLote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroLote)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SolicitudID" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Regresar al Listado</a>
    </form>
</div>
